
<h4>
  {{question.question}}
  <div [ngClass]="getcustomCss3(answer, question.correct)"></div>
</h4>

<div class="container">
  <div class="container">
    <ul class="list-group">
    <li
      *ngFor="let choice of question.choices"
      [ngClass]="getcustomCss1(selectedChoice, choice, answer, question.correct)"
      (click)="selectChoice(choice)"
      class="list-group-item ">
      <input type="radio"
         value = "{{choice}}"
         [(ngModel)]="answer"
         name="{{question._id}}"/>
  {{choice}}
      <div [ngClass]="getcustomCss2(selectedChoice, choice, answer, question.correct)"></div>
  </li>
    </ul>
  </div>
  <br/>
Your answer: {{answer}}
  <br/>
  <br/>
  <button class="btn btn-success"
  (click)="changeGrading()">
    grade
  </button>
</div>
